.checkbox-tree .checkbox-item {
    margin: 5px 0;
}

span.arrow {
    margin-top: -7px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid black;
    font-size: 12px;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: black;
}
