@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

.checkbox-tree .checkbox-item {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 5px 0;
    font-size: 18px;
}

.checkbox-tree .checkbox-item span.arrow {
    margin-top: -0.8%;
    margin-right: 5px;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
